* {
    margin: 0;
}

body {
	background: #000;
    font-family: "Alegreya Sans SC", sans-serif;
	font-size: 14pt;
}

#container {
    width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 70%;
}

#videobg {
	position: absolute;
	z-index: -1;
	overflow: hidden;
}

video {
    position: fixed;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
	filter: blur(0.6vw) brightness(0.5);
}

#name {
	color: #fff;
    font-weight: 700;
    font-size: 18pt;
}

#links>a {
	display: table;
	color: #FF3ED0;
	font-weight: 500;
	text-decoration: none;
    transition: letter-spacing .6s cubic-bezier(.13,.62,0,.97);
}

#links > a:hover {
	letter-spacing: 1px;
	animation: flash 1ms infinite step-end;
}

#links > a:active {
	letter-spacing: 2px;
}

#nowplaying {
	opacity: 0;
	margin-left: 5px;
    color: #ddd;
    font-size: 10pt;
    transition: opacity 1s;
}

#nowplaying::before {
	content: "♫";
	margin-right: 3px;
    color: #bbb;
}

#nowplaying.visible {
    opacity: 1;
}

@keyframes flash {
	0% {
		color: #FF3ED0;
	}
	50% {
		color: #0781ff;
	}
}

@media only screen and (pointer: coarse) and (hover: none) {
	#container {
		zoom: 2;
	}
}